.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.info-container{
    flex: 1;
    padding: 20px;
    background-color: #04f5ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #38003c;
    width: 35%;
}

.detail-container {
    padding: 20px;
    background-color: #04f5ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #38003c;
    width: 65%;
}

.about-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.info-item-team {
    font-size: 24px;
    margin-top: -10px;
    font-weight: bold;
    letter-spacing: 1px;
}


.info-item-player {
    font-family: 'PremierSans-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #38003c;
}

.personal-data {
    overflow: hidden;
    color: #38003c;
    display: flex;
    justify-content: space-between;
}

.left-element, .right-element {
    width: 45%;
    padding: 10px;
}

.info-item:last-child {
    clear: both;
}

.team-data ul, .gameweek-data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #38003c;
}

.team-data li, .gameweek-data li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 15px 0;
}

.chips-container table, .past-seasons table, .gameweek-data table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.chips-container th, .past-seasons th, .gameweek-data th {
    background-color: #38003c;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.chips-container td, .past-seasons td, .gameweek-data td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.green-row {
    background-color: #8eff8e;
    font-weight: bold;
}

.red-row {
    background-color: #ff8e8e;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    color: #38003c;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .info-container, .detail-container {
        max-width: 100%; /* Full width on smaller screens */
        margin: 10px 0;
    }

    .personal-data {
        flex-direction: column;
    }

    .left-element, .right-element {
        width: 100%;
        text-align: left;
    }
}


